{% extends 'base.html' %}

{% block header %}
<h1>{% block title %} Learn More About ASL{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="row">
  
  <div class="column">
    <div class="card">
<!--      <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
      <div class="container">
        <h2 id= "web_name" style = "color: black">American Sign Language (ASL) </h2>
        <p class="title">National Association of the Deaf </p>
        <p>Learn more about American Sign Language and find other resources.</p>
        <a href="https://www.nad.org/resources/american-sign-language/"><button class="button">View More</button></a>
      </div>
    </div>
  </div>
    
  <div class="column">
    <div class="card">
<!--      <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
      <div class="container">
        <h2 id= "web_name" style = "color: black" >21st Century Communications and Video Accessibility Act </h2>
        <p class="title">National Association of the Deaf </p>
        <p>Read more about how the 21st century communications and video accesibility Act makes technology more accesible for those with disabilities.</p>
        <a href="https://www.nad.org/resources/technology/21st-century-communications-and-video-accessibility-act/"><button class="button">View More</button></a>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
<!--      <img src="/w3images/team1.jpg" alt="Jane" style="width:100%"> -->
      <div class="container">
        <h2 id= "web_name" style = "color: black" >Gallaudet University</h2>
        <p class="title">Learn Basic ASL for Free</p>
        <p>After learning the ASL alphabet with QuickASL.
            <br>
            Learn more with Gallaudet University for free.</p>
        <a href="https://www.gallaudet.edu/asl-connect"><button class="button">View More</button></a>
      </div>
    </div>
  </div>
  
  
</div>

{% endblock %}