{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class= "container" >
    <div class="display">
    
      <h1 style="font-style: italic;">Welcome! </h1>
      <br>
      <h4>Start Learning the ASL Alphabet</h4>
        
        <a href ="/main_page"> <button class="button button1" style="color: white;">  Click to start learning</button> </a>
        <h2 style="font-style: italic;"> Scroll to learn more about our Web App </h2>
    </div>
    <div class="sec">
      <h2>Learn more about QuickASL</h2>
      <p>
        <br>
        QuickASL is an educational tool to help learn the American Sign Language alphabet through images. 
        It takes the user input ideally a word or phrase and gives the corresponding images to signs for each letter.
        The user would then be able to practice signing the letters in ASL.
        <br><br>
        
      </p>
    </div>
  </div>

{% endblock %}