{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
  <div class= "container" >
    <div class="display">
        <h1>Start Learning the ASL Alphabet</h1>
        <a href ="/main_page"> <button class="button button1" style="color: white;">  Click to begin</button> </a>
        <h2> Or scroll to learn more about our Web App </h2>
    </div>
    <div class="sec">
      <h2>Learn more about QuickASL</h2>
      <p>
        <br>
        QuickASL is an educational tool to help learn the American Sign Language alphabet through images. 
        It takes the user input ideally a word or phrase and gives the corresponding images to signs for each letter.
        The user would then be able to practice signing the letters in ASL.
        <br><br>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
        eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
        vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
      </p>
    </div>
  </div>

{% endblock %}