{% extends 'base.html' %}

{% block header %}
    <!-- Title for page -->
  <h1>{% block title %}Learn ASL Alphabet{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!-- left and right split -->

  <div class="container" id="split_cont">
    <div class="split left">
<!--        <form action="/process_query" method="Post">
         <h1 id="header">Enter your text below:</h1>
         <input type="text" name="user_input"><br>
       </form>      -->
      <h2> Text Input: </h2>
       {% if error %}
          <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
            
       <form action= "{{url_for('process_query')}}" method="POST" role= "form" >
             <input name= "user_input" type="text" pattern="[A-Za-z?.!, ]{1,30}" class="form-control" placeholder="Enter a word or phrase to learn" title=" Enter only letters and . ? !,maximum of 30 characters  e.g Hi!">

         <button type="submit" id= "addbtn"> Submit</button>
          <a href="{{ url_for('clear_images')}}"><button type= "clear" id="clearbtn">Clear Search</button></a> 

        </form>
   </div>
    
    <div class= "split right"><!-- Translation of text to images/visual output -->
        <h2> ASL Finger Signing:</h2>
        <div>
          {% for todo in todos  %}               
          <li class="list-group-item">
             <img src="{{todo}}" style="height: 65px; width:65px;"/>        
          </li>
          {% endfor %}
          
      </div>
    </div> 
    
  </div>


{% endblock %}