<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="static/style2.css">
  </head>
  <body>
    <header>
      <ul> 
        <li><a href="/" class="active"> Home  </a></li>
        <li><a href="/main_page"> Start Learning</a></li>
        <li><a href="/learn_more">About</a></li>
      </ul>
    </header>
    
    <section>
      <h2 id="text"> Text</h2>
      <a href="#" id="btn"> Start Learning</a>
    </section>
    <div class= "sec">
      <h2>Parallax scrolling effect</h2>
      <p> insert text</p>
    </div>  
  </body>

</html>